h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

button.btn {
  border-radius: 0;
}
.button {
  background-color: grey;
  color: white;
}
#content {
  opacity: 0;
}
.step {
  display: none;
}
.active {
  display: block;
}

#submit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.click {
  background-color: black;
  color: white;
}
